.btn-nearby {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute; /* Adiciona posicionamento */
  top: 20px; /* Ajuste conforme necessário */
  left: 20px; /* Ajuste conforme necessário */
  z-index: 1000; /* Certifica-se de que o botão esteja acima de outros elementos */
}

.btn-nearby i {
  margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.btn-nearby:hover {
  background-color: #357AE8;
  transform: translateY(-2px);
}

.btn-nearby:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
