.btn-nearby {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute; /* Adicione esta linha */
    top: 20px; /* Ajuste conforme necessário */
    left: 20px; /* Ajuste conforme necessário */
    z-index: 1000; /* Certifique-se de que o botão esteja acima de outros elementos */
  }
  
  .btn-nearby i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
  }
  
  .btn-nearby:hover {
    background-color: #357AE8;
  }
  